@import './../../styles/variables.sass'

.profile
    margin: 25px 0px
    float: right
    font-size: 14px
    font-family: 'Roboto', sans-serif
    .avatar
        cursor: pointer
        float: right
        position: relative
        background: linear-gradient(90deg, rgba(56, 95, 102, 1) 0%, rgba(33, 144, 162, 1) 100%)
        -webkit-border-radius:100%
        -moz-border-radius:100%
        padding: 1px
        border-radius:100%
        width:50px
        height:50px

        &::after
            position: absolute
            display: block
            top: 5px
            left: 5px
            width: 90px
            height: 90px
            content: ""
            background-color: #fff
            background-repeat: no-repeat
            background-size: cover
            border-radius: 100%
            overflow: hidden

    .profile-info
        overflow: hidden
        span
            color: $darkBlue
            font-weight: 700
            font-size: 16px
            margin: 5px 10px
    .profile-nav
        ul
            list-style: none
            float: right
            padding: 0px
            li
                display: inline
                padding: 0px 5px
                a
                    font-weight: 500
                    &::after
                        content: '➜'
                        font-weight: 800
                        margin: 0px 5px